header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 16px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    color: var(--primary-extra-dark-color);;

    img {
        max-width: 30px;
    }
}

.content {
    padding: 16px;
}