/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #008F8C;
  --primary-extra-light-color: #0FC2C0;
  --primary-light-color: #0CABA8;
  --primary-dark-color: #015958;
  --primary-extra-dark-color: #023535;
}

body {
    margin: 0;
}